:root {
  --bg-main: #1e272e;
  --bg-dark: #292e33;
  --bg-track: #3e474f;
  --bg-hover: #3e4952;
  --accent: #88acce;
  --cell-live: #1773e2;
  --cell-dead: #4d4d4d;
  --modal-chrome: #cdcddd;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.btn-hamburger {
  top: 36px;
  position: relative;
  z-index: 10;
}

body {
  margin: 0;
  background-color: var(--bg-main);
  color: var(--accent);
}

.navbar,
.bg-dark,
#inst {
  background-color: var(--bg-main);
  padding:  0.5rem 1rem;
}

.navbar-toggler {
  background-color: #686871;
}

.navbar .btn,
.navbar .form-select,
.navbar .form-range,
.navbar .btn-group .btn {
  border-radius: 0 !important;
}

.dropdown-menu,
.form-select,
.btn,
.btn-group .btn {
  border-radius: 0 !important;
}

.dropdown-menu .dropdown-item,
.dropdown-menu .dropdown-item:focus,
.dropdown-menu .dropdown-item:hover,
.dropdown-menu .dropdown-header {
  border-radius: 0 !important;
}

#info,
#pattern,
.form-label{
    margin-left: 0.5em;
}


.navbar-brand {
  cursor: pointer;
  color: var(--accent);
}

.navbar-brand:hover,
.navbar-brand:focus {
  color: inherit !important;
}

.navbar > div {
  justify-content: flex-end;
}

.btn-secondary,
.btn-secondary:disabled {
  border-radius: 0;
  background-color: var(--bg-main);
  border-color: var(--bg-main);
  color: var(--accent);
}

.btn-secondary:hover {
  background-color: var(--bg-hover);
  border-color: var(--bg-hover);
  color: var(--accent);
}

.form-select {
  border-radius: 0;
  width: auto;
}

.form-label{
  padding-right: .5rem;
}

#pattern {
  height: 38px;
  width: auto;
  cursor: pointer;
  border: 0;
  color: var(--accent);
  background-color: var(--bg-main);
}

#pattern optgroup {
  background-color: var(--bg-main);
}

#pattern option {
  background-color: var(--bg-dark);
  color: var(--accent);
}

input[type='range'],
.form-range {
  -webkit-appearance: none;
  background: transparent;
  width: auto;
}

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: var(--accent);
}

input[type='range']::-webkit-slider-runnable-track,
.form-range::-moz-range-track {
  background: var(--bg-track);
}

.form-range::-moz-range-thumb {
  background: var(--accent);
}

#slider {
  display: flex;
  padding: 7px 10px 0;
  width: 200px;
}

#slider > div:nth-child(2) {
  padding-top: 3px;
  padding-left: 5px;
}

#inst {
  display: flex;
  justify-content: space-evenly;
}

#inst > div {
  display: flex;
}

#inst > div:nth-child(1) > div,
#inst > div:nth-child(2) > div {
  margin: auto;
  width: 10px;
  height: 10px;
  border: 1px solid black;
  border-radius: 50%;
}

#inst > div:nth-child(1) > div {
  background-color: var(--cell-live);
}

#inst > div:nth-child(2) > div {
  background-color: var(--cell-dead);
}

#inst > div:nth-child(3) > p {
  margin: 0;
  display: flex;
}

#pace {
  text-align: center;
}

#popCount {
  display: block;
  width: 50px;
  text-align: center;
}

#board {
  background-color: black;
  cursor: pointer;
  user-select: none;
  /* position: relative; */
  /* top: -38px; */
}

.cell {
  border: 1px solid black;
}

.circle {
  border-radius: 50%;
  width: 100%;
  padding-bottom: 100%;
  background: var(--cell-dead);
}

.modal-dialog {
  width: 50%;
  margin: 75px auto 0;
  color: black;
}

.modal-header,
.modal-footer {
  background-color: var(--modal-chrome);
}

.modal-body {
  min-height: 405px;
  background-color: black;
  color: var(--modal-chrome);
  display: flex;
  flex-direction: column;
}

.modal-body > div {
  text-align: center;
  margin: auto;
  display: block;
}
